@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    background-color: #fff;
    font-family: "Roboto", "Noto Sans JP", sans-serif;
}
a {
    text-decoration: none;
    font-family: "Noto Sans JP", sans-serif;
    color: #444545;
}
li {
    list-style: none;
}
button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.sponlymode{
    display: none;
}


/*-----------base setting---------------*/

.maincontainer {
    background-image: url(../img/Group\ 183.png);
    background-size: cover;        
    background-position: center;
}
/*
button
*/
.button.row {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    writing-mode: vertical-lr;
    padding: 24px 19px 65px;
    border-radius: 10px 0 0 10px;
    background-color: #06c755;
    color: #ffffff;
    border: none;
    z-index: 150;  
    max-width: 65px;
    min-height: 303px;
    box-sizing: border-box;
    white-space: nowrap;  
    word-break: keep-all; 
}

.button.row .box { 
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    position: relative;
    letter-spacing: 0.3rem;
}
.button.row span::after  {
    content: "";
    width: 57px;
    height: 57px;
    position: absolute;
    right: -17px;
    top: 112%;
    transform: translateY(-50%);
    background-image: url("../img/LINE_Brand_icon 1.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center center;
    z-index: 100;
}

/*---------button-row----------*/

/*
header
*/

header .logo {
    position: absolute;
    top: 15px;
    left: 41px;
}
@media screen and (max-width: 530px) {
    header .logo {
        position: absolute;
        top: 13px;
        left: 12px;
    }
    header .logo img {
        width: 77px;
    }
}
/*-------header--------*/

/*
mainpage
*/
.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 95px;
}
.mainpage .catchphrase {
    margin-top: 104px;
    margin-bottom: 43.7px;
}
.mainpage .catchphrase p {
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    line-height: 33px;
    padding-right: 3px;
}
.mainpage .img {
    margin-bottom: 18.6px;
    margin-right: 30px;
    margin-left: 30px ;
}
.mainpage img {
    width: 100%;
}
.mainpage .description {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
}
.mainpage .description .time {
    font-size: 43px;
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 14px;
    line-height: 43px;
    display: inline-block;
    height: 43px;
    text-shadow: 0 2px 6px #000c4d;
}
.mainpage .description .day {
    font-size: 33px;
    font-weight: 700;
    text-shadow: 0 2px 6px #000c4d;
}
.mainpage .description .place {
    font-size: 29px;
    color: #fff;
    font-weight: 700;
    line-height: 35px;
    display: inline-block;
    height: 35px;
    text-shadow: 0 2px 6px #000c4d;
}
.mainpage .description .place .space{
    letter-spacing: 0.3em;
}
.mainpage .button {
    padding: 20px 0 16px;
    border: 2px solid #fff;
    border-radius: 32px;
    background-color: #06c755;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.mainpage .button .box {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: auto;
    padding-left: 30px;
    padding-right: 64px;
}
.mainpage .button .box .parenf {
    margin-left: -10px;
}
.mainpage .button span::after {
    content: "";
    width: 57px;
    height: 57px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/LINE_Brand_icon 1.svg");
    background-repeat: no-repeat;
    background-size: 57px 57px;
    background-position: center center;
    z-index: 100;
}

@media screen and (max-width: 865px) {
    .button.row {
        display: none;
    }
    .mainpage .spbox {
        width: 100%;
        background-color: #F1F1F480;
        position: fixed;
        bottom: 0px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainpage .button {
        padding: 19px 0 16px;
        border: none;
        border-radius: 49px;
        position: relative;
        height: 49px;
        width: 343px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 3px;
    }
    .mainpage .button .free {
        font-size: 18px;
    }
    .mainpage .button .box {
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        width: auto;
        padding-left: 20px;
        padding-right: 34px;
    }
    .mainpage .button .box .parenf {
        margin-left: -10px;
    }
    .mainpage .button span::after {
        content: "";
        width: 37px;
        height: 37px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 47px 47px;
        background-position: center center;
        z-index: 100;
    }
}
@media screen and (max-width: 530px) {
    .mainpage .img img  {
        display: none;
    }
    .mainpage .sponlymode {
        display: block;
    }
    .maincontainer {
        background-image: url(../img/Group\ 184.png);
        background-size: cover;        
        background-position: center;
    }
    .mainpage {
        padding-bottom: 38px;
    }
    .mainpage .catchphrase {
        margin-top: 78px;
        margin-bottom: 7px;
    }
    .mainpage .catchphrase p {
        font-size: 16px;
        font-weight: 700;
        line-height: 15px;
        padding-right: 1px;
    }
    .mainpage .sponlymode.first {
        margin-bottom: 13px;
    }
    .mainpage .sponlymode.second {
        margin-bottom: 13px;
    }
    .mainpage .description {
        margin-bottom: 45px;    
    }
    .mainpage .description .time {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
        line-height: 32px;
        display: inline-block;
        height: 32px;
        text-shadow: 0 1px 3px #000c4d;
    }
    .mainpage .description .day {
        font-size: 18px;
        font-weight: 700;
        text-shadow: 0 1px 3px #000c4d;
    }
    .mainpage .description .place {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        display: inline-block;
        height: 19px;
        margin-right: 5px;
        text-shadow: 0 1px 3px #000c4d;
    }
    .mainpage .description .place .space{
        letter-spacing: 0.2em;
    }
}
/*---------mainpage---------*/
/*
wrapper
section-title
*/
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.section-title{
    text-align: center;
    margin-bottom: 58px;
}
.section-title .first {
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    line-height: 59px;
    color: #81D7FC;
    margin-bottom: 18px;
    padding-right: 7px;
}
.section-title .second {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding-right: 5px;
    padding-top: 1px;
    color: #444545;
}
.section-title .second .line {
    position: relative;
}
.section-title .second .line::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #444545;
    position: absolute;
    left: -61px;
    top: 9px;
}
.section-title .second .line::after  {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #444545;
    position: absolute;
    right:-64px;
    top: 9px;
} 

@media screen and (max-width: 530px) {
    .section-title {
        text-align: center;
        margin-bottom: 28px;
    }
    .section-title .first {
        font-size: 26px;
        font-weight: 700;
        font-style: italic;
        line-height: 33px;
        color: #81D7FC;
        margin-bottom: 10px;
        padding-right: 4px;
    }
    .section-title .second {
        font-size: 14px;
        font-weight: 700;
        line-height: 12px;
        padding-right: 0px;
        padding-top: 1px;
        color: #444545;
    }
    .section-title .second .line {
        position: relative;
    }
    .section-title .second .line::before {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #444545;
        margin-left: 17px;
        margin-top: -4px;
    }
    .section-title .second .line::after  {
        content: "";
        width: 20px;
        height: 1px;
        background-color: #444545;
        margin-right: 14px;
        margin-top: -4px;
    } 
}
/*------wrapper, section-title-------*/


/*
about
*/
.abosumcontainer {
    background-image: url(../img/Group\ 185.svg);
    background-size: 100% auto;  
    background-position: center -19px;
    background-repeat: no-repeat;
    min-height: 600px;  
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
}
.about {
    padding-top: 39px;
    margin-top: 0px;
    margin-bottom: 160px;
}
.about .section-title .second .line::before {
    left: -50px;
    top: 9px;
}
.about .section-title .second .line::after  {
    right:-45px;
    top: 9px;
} 
.about .description {
    font-size: 22px;
    font-weight: 700;
    line-height: 45px;
    max-width: 617px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    color: #444545;
}
.fonttypejp {
    font-family: "Noto Sans JP", sans-serif;
}

.about .text {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #444545;
    line-height: 45px;
    margin-top: -3px;
}
@media screen and (max-width: 975px) {
    .abosumcontainer{
        padding-bottom: 0px;
    }
}
@media screen and (max-width: 865px) {
    .abosumcontainer {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 656px) {
    .about .pconlymode {
        display: none;
    }
    .about .description {
        text-align: justify;
    }
}
@media screen and (max-width: 530px) {
    .abosumcontainer {
        background-image: url(../img/Group186.svg);
        background-size: contain;        
        background-position: center -26px;
        background-repeat: no-repeat;
    }
    .about {
        padding-top: 27px;
        margin-bottom: 25px;
    }
    .about .description {
        display: none;
    }
    .about .text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 37px;
        margin-top: -3px;
        padding-right:32px;
        padding-left: 32px;
        color: #444545;
    }
}

/*----------about----------*/
    

/*
summary
*/
.summary .section-title {
    margin-bottom: 26px;
}

.summary .section-title .first {
    margin-bottom: 21.9px;
    padding-right: 9px;
    padding-top: 5px;

}
.summary .section-title .second {
    padding-right: 14px;
    margin-top: -2px;
}
.summary .datalist {
    display: flex;
    flex-wrap: wrap;
}
.summary .datalist dt:nth-of-type(1) {
    height: 122.5px;
    padding-bottom: 3px;
}
.summary .datalist dt:nth-of-type(1) .title {
    padding-bottom: 2px;
    padding-right: 1px;
}
.summary .datalist dt:nth-of-type(2) {
    height: 125px;
    padding-bottom: 3px;
}
.summary .datalist dt:nth-of-type(2) .title {
    padding-top: 2px;
}
.summary .datalist dt:nth-of-type(3) {
    height: 152px;
    padding-bottom: 27px;
}
.summary .datalist dt:nth-of-type(3) .title {
    padding-top: 0px;
}
.summary .datalist dt:nth-of-type(4) {
    height: 125px;
}
.summary .datalist dt:nth-of-type(4) .title {
    padding-top: 0px;
    padding-right: 1px;
}
.summary .datalist dt:nth-of-type(5) {
    height: 275px;
}
.summary .datalist dd:nth-of-type(3) .text {
    line-height: 34px;
}
.summary .datalist dd:nth-of-type(4) .text {
    line-height: 34px;
    padding-bottom: 2px;
}
.summary .datalist dt:nth-of-type(5) {
    padding-bottom: 150px;
    margin-top: -1px;
}
.summary .datalist dt:nth-of-type(5) .title {
    padding-top: 0px;
    padding-right: 1px;

}
.summary .datalist dd:nth-of-type(2) {
    padding-top: 2px;
}
.summary .datalist dd:nth-of-type(3) {
    padding-top: 6px;
}
.summary .datalist dd:nth-of-type(5) {
    align-items: flex-start;
    margin-top: 34px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    word-break: normal;
    overflow-wrap: normal;
}
.summary .datalist .access .item {
    margin-top: 10px;
    margin-left: 14px;
    font-weight: 500;
    color: #444545;
}
.summary .datalist .access .item .boxsub {
    margin-top: 7px;
}
.summary .datalist dt {
    width: 191px;
    display: flex;
    align-items: center;
}
.summary .datalist dt:nth-of-type(5) {
    border-bottom: none;
}
.summary .datalist dt .title {
    font-size: 22px;
    line-height: 22px;
    border: 2px solid #FDD35C;
    color: #FDD35C;
    padding: 0 0px;
    width: 170px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    font-family: "Noto Sans JP", sans-serif;
    border-radius: 30px;
}
.summary .datalist dd {
    width: calc(100% - 191px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-wrap: break-word;
    position: relative;
}
.summary .datalist dd::after {
    content: "";
    position: absolute;
    left: -191px;          
    bottom: 0;
    width: calc(100% + 191px);
    border-bottom: 1px dotted #C4C4C4;
}
.summary .datalist dd:nth-of-type(5):after {
    content: "";
    border-bottom: none;
}
.summary .datalist dd:nth-of-type(4) {
    word-break: keep-all;
}
.summary .datalist dd:nth-of-type(5) {
    border-bottom: none;
    padding-top: 12px;
}
.summary .datalist dd .text {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    font-family: "Noto Sans JP", sans-serif;
    margin-top: -2px;
    color: #444545;
}
.summary .datalist dd .access {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 1px;
    color: #444545;
}

.summary .datalist dd .iframe {
    margin-top: -6px;
    width: 380px;
    height: 235px;
}
.summary .datalist dd .iframe iframe {
    width: 100%;
    height: 100%;
}
.summary .datalist .access {
    font-family: "Noto Sans JP";
}

.summary .datalist .access .title {
    font-size: 22px;
    font-weight: 700;
}
.summary .datalist .access .item .boxjr .jr, 
.summary .datalist .access .item .boxsub .subway {
    position: relative;
}
.summary .datalist .access .item .boxjr .jr::before, 
.summary .datalist .access .item .boxsub .subway::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -13px;
    width: 10px;
    height: 10px;
    background-color: #FDD35C;
    border-radius: 50%;
}
.section-title .yellow.first {
    color: #FDD35C;
}

.summary .datalist .sspace {
    margin-right: 10px;
}
.summary .datalist  .spacee {
    margin-right: 10px;
}
@media screen and (max-width: 975px) {
    .summary {
        margin-bottom: 257px;
    }
    .summary .pconlymode {
        display: none;
    }
    .summary .sponlymode {
        display: block;
    }
    .summary .datalist dd:nth-of-type(1) .text {
        line-height: 33px;
    }
   .summary .datalist {
        position: relative;
   }
   .iframe {
        position: absolute;
        bottom: -215px;
        left: 0;
        width: 380px !important;
        height: 200px !important;
        margin-left: -10px;
    }
}
@media screen and (max-width: 600px ) {
    .summary .section-title .first {
        padding-left: 7px;
    }
    .summary .section-title .second {
        margin-top: -12px;
        margin-left: 13px;
    }
    .summary .section-title .second .line {
        position: relative;
    }
    .summary .section-title .second .line::before {
        margin-left: 22px;
        margin-top: -3px;
    }
    .summary .section-title .second .line::after  {
        margin-right: 27px;
        margin-top: -3px;
    } 
     .summary .datalist dt {
        width: 120px;
        display: flex;
        align-items: flex-start;
        padding-left: 10px;
        padding-top: 3px;
    }
    .summary .datalist dd {
        width: calc(100% - 120px);
        align-items: flex-start;
        margin-top: -2px;
        padding-left: 12px;
    }
    .summary .datalist dt .title {
        font-size: 15px;
        line-height: 25px;
        border: 1px solid #FDD35C;
        width: 105px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 22px;
        font-family: "Noto Sans JP", sans-serif;
        border-radius: 30px;
        margin-left: -1px;
    }
    .summary .datalist dd .text {
        font-size: 14px;
        line-height: 31px;
    }   
    .summary .datalist dt:nth-of-type(1) {
        height: 65px;
    }
    .summary .datalist dt:nth-of-type(2) {
        height: 53px;
        padding-top: 10px;
    }
    .summary .datalist dd:nth-of-type(2) {
        padding-top: 14px;
    }
    .summary .datalist dt:nth-of-type(3) {
        height: 65px;
        padding-top: 8px;
    }
    .summary .datalist dt:nth-of-type(3) .title {
        font-size: 14px;
    }
    .summary .datalist dd:nth-of-type(3) {
        padding-top: 12px;
    }
    .summary .datalist dd:nth-of-type(3) .text {
        line-height: 24px;
    }
     .summary .datalist dt:nth-of-type(4) {
        height: 74px;
        padding-top: 10px;
    }
    .summary .datalist dd:nth-of-type(4) {
        padding-top: 12px;
    }
    .summary .datalist dd:nth-of-type(4) .text{
        padding-top: 1px;
        line-height: 29px;
    }
    .summary .datalist dt:nth-of-type(5) {
        padding-top: 10px;
    }
    .summary .datalist dd:nth-of-type(5) {
        word-break: normal;
        overflow-wrap: normal;
        margin-top: 0px;
        padding-top: 14px;
        padding-left: 12px;
        height: 293px;
        margin-top: 0;
    }
     .summary .datalist dd:nth-of-type(5) .access .title {
        font-size: 14px;
        margin-left: -6px;
        padding-top: 0px;
        padding-left: 0px;
        
     }
     .summary .datalist dd:nth-of-type(5) .access .item {
        padding-left: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        padding-top: 4px;
     }
     .summary .datalist dd:nth-of-type(5) .access p,
     .summary .datalist dd:nth-of-type(5) .access ul li {
        font-size: 14px;
        line-height: 20px;
    }
    .summary .datalist .access .item .boxjr .jr::before, 
    .summary .datalist .access .item .boxsub .subway::before {
        width: 8px;
        height: 8px;
        top: 7px;
        left: -13px;
    }
    .iframe {   
        left: 0;
        width: 345px !important;
        height: 200px !important;
        margin-left: -113px;
    }
    iframe {
        width: 100% !important;
        height: 100% !important;
    }
    .summary .datalist .access .item {
        font-weight: 400;
    }
}
@media screen and (max-width: 389px ) {
    .iframe {   
        left: 0;
        width: 300px !important;
        height: 174px !important;
        margin-left: -113px;
        margin-bottom: -20px;
    }
}


/*-------summary---------*/


/*
contents
*/
.contentscontainer {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #FFF6DE;
}

.contents {
    padding-top: 80px;
    padding-bottom: 77px;
}
.contents .section-title .first {
    margin-top: 1px;
    margin-left: 5px;
}
.contents .section-title .second {
    margin-top: 20px;
    margin-right: 8px;
}
.contents .section-title .second .line::before {
    left: -50px;
    top: 9px;
}
.contents .section-title .second .line::after  {
    right:-52px;
    top: 9px;
} 
.contents .bigbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 59px;
}
.contents .bigbox dt {
    text-align: center;
    width: 435px;
    height: 55px;
    background-color: #FDD35C;
    color: #ffffff;
    border: 3px solid #FDD35C;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    padding-top: 7px;
    padding-right: 5px;
}
.contents .bigbox .right dt {
    padding-left: 4px;
}
.contents .bigbox dd {
    text-align: center;
    border: 3px solid #FDD35C;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
}
.contents .bigbox dd .head {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: -9px;
}
.contents .bigbox .right dd .head {
    padding-left: 2px;
}
.contents .bigbox dd .logo {
    margin-right: 10px;
}
.contents .bigbox dd .text {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: #FDD35C;
    margin-top: -4px;
    margin-left: 10px;
    margin-bottom: 17px;
    padding-right: 8px;
}
.contents .bigbox .left dd .text .highlight {
    font-size: 48px;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-style: italic;
    line-height: 28px;
}
.contents .bigbox .right dd .text .highlight {
    font-size: 48px;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    font-style: italic;
    line-height: 28px;
    opacity: 0;
}
.contents .bigbox .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.contents .bigbox .img img {
    width: 340px;
    height: 180px;
}

.contents .button {
    padding: 20px 0 16px;
    border: 2px solid #fff;
    border-radius: 32px;
    background-color: #06c755;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
}
.contents .button .box {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    width: auto;
    padding-left: 30px;
    padding-right: 64px;
}
.contents .button .box .parenf {
    margin-left: -10px;
}
.contents .button span::after  {
    content: "";
    width: 57px;
    height: 57px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/LINE_Brand_icon 1.svg");
    background-repeat: no-repeat;
    background-size: 57px 57px;
    background-position: center center;
    z-index: 100;
}
.contents .bigbox .right .img {
    padding-left: 7px;
}
@media screen and (max-width: 900px) {
    .contents .bigbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 59px;
    }
    .contents .bigbox .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    .contents .bigbox dt {
        font-size: 22px;
        width: 380px;
    }
    .contents .bigbox dd .text {
        font-size: 22px;
    }
    .contents .bigbox .left dd .text .highlight {
        font-size: 38px;
        }
    .contents .bigbox .right dd .text .highlight {
        font-size: 38px;
    }
}
@media screen and (max-width: 865px) {
    .contents .button {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .contents .bigbox {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 59px;
    }
    .contents .bigbox .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contents .bigbox dd .head {
        font-size: 11px;
    }
    .contents .bigbox dd .text {
        font-size: 22px;
    }
    .contents .bigbox .left dd .text .highlight {
        font-size: 37px;
        }
    .contents .bigbox .right dd .text .highlight {
        font-size: 37px;
    }
    .contents .bigbox dl dd .img img {
        width: 263px;
        height: 139px;
    }
    .contents {
        padding-top: 36px;
    }
    .contents .section-title {
        margin-bottom: 24px;
    }
    .contents .section-title .second {
        margin-top: -1px;
        padding-left: 10px;
    }
    .contents .bigbox dt {
        width: 336px;
        height: 41px;
        border-radius: 8px 8px 0 0;
        border-bottom: none;
        font-weight: 700;
        line-height: 30px;
        padding-top: 5px;
        padding-right: 0;
        margin-left: 0px;
        font-size: 18px;
    }
    .contents .bigbox dd .head { 
        margin-top: 6px;
        padding-left: 3px;
    }
    .contents .bigbox dd .logo img {
        width: 180px;
    } 
    .contents .bigbox dd .text {
        margin-top: -5px;
        padding-left: 9px;
        margin-bottom: 11px;
    }
    .contents .bigbox dd .text .highlight {
        font-size: 32px !important;
        font-family: "Roboto", sans-serif;
    }
    .contents .bigbox dd .img {
        margin-bottom: 16px;
    }
    
    .contents .bigbox .right dt {
        padding-top: 6px;
        padding-right: 5px;
    }
    .contents .bigbox .right dd .head {
        padding-top: 1px;
        padding-left: 3px;
    }
    .contents .bigbox .right dd .text {
        padding-right: 20px;
    }
    .contents .bigbox .right dd .img {
        padding-left: 4px;
    }
}
@media screen and (max-width: 700px) {
    .contents .bigbox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
    }
    .contents .bigbox .left {
        margin-bottom: 26px;
    }
    .contents {
        padding-bottom: 48px;
    }
}
@media screen and (max-width: 530px) {
    .contents .section-title .second .line {
        position: relative;
    }
    .contents .section-title .second .line::before {
        margin-left: -4px;
        margin-top: -3px;
    }
    .contents .section-title .second .line::after  {
        margin-right: 3px;
        margin-top: -3px;
    } 
}

/*-----contents-----*/

/*
feature
*/
.featurecontainer {
    background: linear-gradient(
        to right,
        #FDD35C 0,
        #FDD35C 50px,
        #ffffff 50px,
        #ffffff calc(100% - 50px),
        #FDD35C calc(100% - 50px),
        #FDD35C 100%
    );
    padding-left: 50px;
    padding-right: 50px;
}
.feature {
    padding-top: 52px;
    padding-bottom: 62px;
}
.feature .section-title {
    margin-bottom: 38px;
}
.feature .section-title .first {
    padding-left: 4px;
}
.feature .section-title .second {
    padding-top: 3px;
    padding-right: 12px;
}
.feature .section-title .second .line::before {
    left: -59px;
    top: 8px;
}
.feature .section-title .second .line::after  {
    right:-60px;
    top: 8px;
} 

.feature dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 375px;
}
.feature dl dt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 293px;
}
.feature dl dt .img img {
    vertical-align: bottom;
}
.feature dl dd {
    width: calc(100% - 298px);
    display: flex;
    align-items: center;
}
.feature dl dd .text {
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 24px;
    text-align: justify;
    padding-right: 10px;
    color: #000000;
}
.feature dl dt:nth-of-type(1) img {
    width: 110.25px;
    height: 30px;
}
.feature dl dt:nth-of-type(2) img {
    width: 223px;
    height: 19px;
}
.feature dl dt:nth-of-type(3) img {
    width: 266.79px;
    height: 30px;
}
.feature dl dt:nth-of-type(4) img {
    width: 124px;
    height: 57px;
}
.feature dl dt:nth-of-type(5) img {
    width: 103px;
    height: 42px;
}
.feature dl dd .text a {
    text-decoration: underline;
    color: #000000;
    font-weight: 500;
}
.feature dl dd .text a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1150px) {
    .featurecontainer {
        padding-left: 70px;
        padding-right: 70px;
    }   
}
@media screen and (max-width: 865px) {
    .featurecontainer {
        background: linear-gradient(
            to right,
            #FDD35C 0,
            #FDD35C 10px,
            #ffffff 10px,
            #ffffff calc(100% - 10px),
            #FDD35C calc(100% - 10px),
            #FDD35C 100%
        );
        padding-left: 17px;
        padding-right: 17px;
    }
    .feature dl {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: auto;
    }
    .feature dl dt {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .feature dl dd {
        width: 100%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 530px) {
    .feature {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .feature .section-title {
        margin-bottom: 15px;
    }
    .feature dl dt:nth-of-type(1) img{
        width: 73.5px;
        height: 20px;
    }
    .feature dl dt:nth-of-type(2) img{
        width: 154px;
        height: 13px;
    }
    .feature dl dt:nth-of-type(3) img{
        width: 177px;
        height: 20px;
    }
    .feature dl dt:nth-of-type(4) {
        margin-top: 10px;
    }
    .feature dl dt:nth-of-type(4) img{
        width: 124px;
        height: 57px;
    }
    .feature dl dt:nth-of-type(5) img{
        width: 82px;
        height: 34px;
    }
    .feature dl dd:nth-of-type(4) img{
        width: 77px;
        height: 17px;
    }
    .feature dl dd:nth-of-type(4) .text div {
        text-align: center;

    }
    .feature dl dd .text {
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        line-height: 1.5;
    }
    .feature .section-title .second .line {
        position: relative;
    }
    .feature .section-title .second .line::before {
        margin-left: -4px;
        margin-top: -3px;
    }
    .feature .section-title .second .line::after  {
        margin-right: 3px;
        margin-top: -3px;
    } 
}



/*-----feature-----*/

/*
company
*/
.companycontainer {
    background-image: url(../img/Group\ 192.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: calc(50% - 16px) calc(50% - 118px);
}
.company {
    padding-bottom: 65px;
}
.company .section-title {
    padding-top: 26px;
    margin-bottom: 90px;
}
.company .section-title .first {
    padding-left: 4px;
}
.company .section-title .second {
    padding-top: 4px;
    padding-right: 12px;
}
.company .section-title .second .line::before {
    left: -80px;
    top: 8px;
}
.company .section-title .second .line::after  {
    right:-81px;
    top: 8px;
} 
.company .bigbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 56px;
}
.company .bigbox ul li .text {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    font-family: "Noto Sans JP", sans-serif;
    color: #444545;
}
.company .plus {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    text-align: end;
    margin-top: -11px;
}
.company .plus::before {
    content: "\A";
    white-space: pre;
}

@media screen and (max-width: 1150px) {
    .companycontainer {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 865px) {
    .company .bigbox ul li .text {
        font-size: 16px;
        font-weight: 500;
    }
    .company .bigbox ul {
        padding-right: 20px;
    }
    .company .bigbox {
        display: flex;
        align-items: flex-start;
        padding-right: 0px;
    }
    .company .plus {
        font-size: 16px;
    }
}
@media screen and (max-width: 530px) {
    .company .section-title {
        margin-bottom: 40px;
    }
    .company .bigbox {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 5px;
    }
    .company .bigbox ul li .text {
        font-size: 14px;
    }
    .company .plus {
        font-size: 14px;
    }
    .company .section-title .second .line {
        position: relative;
    }
    .company .section-title .second .line::before {
        margin-left: 46px;
        margin-top: -3px;
    }
    .company .section-title .second .line::after  {
        margin-right: 52px;
        margin-top: -3px;
    } 
}


/*-----company-----*/

/*
schedule
*/
.schedulecontainer {
    background-image: url(../img/background_4.png);
    padding-top: 92px;
    padding-bottom: 165px;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}
.schedule .section-title .first {
    padding-left: 10px;
    margin-top: -2px;
}
.schedule .section-title .second {
    color: #ffffff;
    padding-top: 4px;
    padding-left: 7px;
}
.schedule .section-title .second .line::before {
    background-color: #ffffff;
    left: -54px;
    top: 8px;
}
.schedule .section-title .second .line::after  {
    background-color: #ffffff;
    right:-55px;
    top: 8px;
} 
.schedule .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.schedule .menu li {
    background-color: #F1FBFF99;
    height: 254px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 23px;
    position: relative;
}
.schedule .menu li .imgboxtime img {
    position: absolute;
    top: 7px;
    left: -4px;
}
.schedule .menu li .imgboxtime .time {
    position: absolute;
    top: 8px;
    left: 7px;
}
.schedule .menu .mc .imgboxtime .time {
    position: absolute;
    top: 8px;
    left: 25px;
}
.schedule .menu li .imgboxtime .time span {
    font-size: 16px;
    font-weight: 700;
    color: #444545;
    font-family: "Noto Sans JP", sans-serif;
}
.schedule .menu li .imgboxman {
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.schedule .menu li .imgboxman > img {
    width: 130px;
    flex-shrink: 0;
}
.schedule .menu li .imgboxman.three {
    padding-top: 45px;
    flex-wrap: wrap;
}
.schedule .menu li .imgboxman.three .sp-box > img {
    border: #ffffff solid 2px;
    border-radius: 50%;
    width: 101px;
    height: 101px;
} 
.schedule .menu li .imgboxman.three .sp-box > img:nth-of-type(1) {
    margin-right: -10px;
    position: relative;
    z-index: 30;
}
.schedule .menu li .imgboxman.three .sp-box > img:nth-of-type(2) {
    position: relative;
    z-index: 20;
}
.schedule .menu li .imgboxman.three .sp-box > img:nth-of-type(3) {
    margin-left: -10px;
    position: relative;
    z-index: 10;
}
.schedule .menu li .imgboxman.three .tagname {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -17px;
}
.schedule .menu li .imgboxman .tagname img {
    width: 280px;
    position: relative;
    z-index: 40;
}
.schedule .menu li .imgboxman.two {
    padding-top: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.schedule .menu li .imgboxman.two .tagname {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -17px;
}
.schedule .menu li .imgboxman.two .tagname .board img {
    width: 230px;
}
.schedule .menu li .imgboxman.two .tagname .batu {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -38px;
}
.schedule .menu li .imgboxman.two .tagname .batu img {
    width: 18px;
}
.schedule .menu li .imgboxman.two .sp-box > img {
    width: 108px;
    height: 108px;
}
.schedule .menu li .imgboxman .aiguchi {
    border: #ffffff solid 3px;
    border-radius: 50%;
}
.schedule .menu .mc {
    height: 192px;
} 
.schedule .menu .mc .imgboxman {
    padding-top: 35px;
}
.schedule .menu .mc .imgboxman img {
    width: 230px;
}
.schedule .menu li .comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 74px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.schedule .menu li .comment span {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: #444545;
}
.schedule .menu li .comment {
    padding-bottom: 20px;
}

@media screen and (max-width: 940px) {
    .schedule .pconlymode {
        display: none;
    }
    .schedulecontainer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .schedule .menu li {
        padding-right: 1%;
        min-width: 375px;
        height: 150px;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 10px;
    }
    .schedule .menu li .imgboxman {
        height: 100%;
        margin-right: 10px;
        padding-top: 0;
    }
    .schedule .menu li .comment {
        height: 80%;
        width: calc(100% - 105px);
    }
    .schedule .menu li .comment span {
        font-size: 18px;
    }
    .schedule .menu li .imgboxman > img {
        width: 105px;
        flex-shrink: 0;
    }
    .schedule .menu li .imgboxman.three {
        padding-top: 20px;
    }
    .schedule .menu li .imgboxman.three .sp-box {
        display: flex;
        flex-wrap: nowrap;
    }
    .schedule .menu li .imgboxman.three .sp-box > img {
        width: 75px;
        height: 75px;
    } 
    .schedule .menu li .imgboxman.three .tagname {
        margin-top: -55px;
    }
    .schedule .menu li .imgboxman.three .tagname img {
        width: 200px;
    }
    .schedule .menu li .imgboxman.two {
        padding-top: 20px;
        width: 200px;
    }
    .schedule .menu li .imgboxman.two .sp-box {
        display: flex;
        flex-wrap: nowrap;
        gap: 6px;
    }
    .schedule .menu li .imgboxman.two .sp-box > img {
        width: 78px;
        height: 78px;
    }
    .schedule .menu li .imgboxman.two .tagname {
        margin-top: -45px;
    }
    .schedule .menu li .imgboxman.two .tagname .board img {
        width: 160px;
    }
    .schedule .menu li .imgboxman.two .tagname .batu {
        padding-top: 10px;
    }
    .schedule .menu li .imgboxman.two .tagname .batu img {
        width: 11px;
    }
    .schedule .menu .mc  {
         height: 150px;
        justify-content: center;
    }
    .schedule .menu .mc .imgboxman {
        padding-top: 10px;
    }
    .schedule .menu .mc .imgboxman > img {
        width: 190px;
    }
}
@media screen and (max-width: 787px) {
    .schedule .section-title {
        margin-bottom: 34px;
    }
    .schedule .section-title .second {
        padding-right: 9px;
        margin-top: -5px;
    }
    .schedulecontainer {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 58px;
    }
    .schedule .menu {
        justify-content: center;
    }
    .schedule .menu li {
        width: calc(100% - 20px);
        height: 103px;
        min-width: 275px;
        margin-bottom: 10px;
        padding-top: 30px;
    }
    .schedule .menu li .imgboxtime img {
        width: 78px;
    }
    .schedule .menu li .imgboxtime .time {
        top: 8px;
        left: 3px;
    }
    .schedule .menu li .imgboxtime .time span {
        font-size: 14px;
    }
    .schedule .menu li .imgboxman > img {
        width: 86px;
    }
    .schedule .menu li .imgboxman.three .sp-box > img {
        width: 65px;
        height: 65px;
    } 
    .schedule .menu li .imgboxman.two .sp-box > img {
        width: 68px;
        height: 68px;
    }
    .schedule .menu li .imgboxman.three {
        margin-top: -40px;
    }
    .schedule .menu li .imgboxman.three .tagname img {
        width: 170px;
    }
    .schedule .menu li .imgboxman.three .tagname {
        margin-top: -15px;
    }
    .schedule .menu li .imgboxman.three .sp-box {
        justify-content: space-between;
    }
    .schedule .menu li .imgboxman.two .tagname .board {
        padding-top: 35px;
    }
    .schedule .menu li .imgboxman.two .tagname .board img {
        width: 150px;
    }
    .schedule .menu li .imgboxman.two .tagname .batu {
        padding-top: 10px;
    }
    .schedule .menu li .imgboxman.two .tagname .batu img {
        width: 12px;
    }
    .schedule .menu li .comment {
        height: 100%;
        width: calc(100% - 86px);
        padding-left: 10px;
        padding-right: 5px;
        margin-top: 0px;
        padding-bottom: 0;
    }
    .schedule .menu li .comment span {
        font-size: 16px;
        line-height: 1.2;
    }
    .schedule .menu .mc {
        height: 103px;
    }
    .schedule .menu li .imgboxman.three {
        width: 180px;
        margin-top: -57px;
    }
    .schedule .menu li .imgboxman.two {
        width: 150px;
        margin-top: -68px;
    }
    .schedule .menu li .imgboxman.two .sp-box {
        gap: 5px;
    }
    .schedule .menu li .imgboxman {
        margin-right: 5px;
        margin-top: -25px;
    }
    .schedule .menu .mc .imgboxman > img {
        width: 150px;
    }
}
@media screen and (max-width: 530px) {
    .schedulecontainer {
        padding-bottom: 58px;
    }
    .schedule .section-title .second .line {
        position: relative;
    }
    .schedule .section-title .second .line::before {
        margin-left: 19px;
        margin-top: -2px;
    }
    .schedule .section-title .second .line::after  {
        margin-right: 18px;
        margin-top: -2px;
    } 
    
}
/*---schedule---*/

/*
question
*/
.question {
    padding-top: 100px;
    padding-bottom: 118px;
}
.question .section-title .first {
    padding-left: 5px;
    padding-top: 1px;
}
.question .section-title .second {
    padding-left: 3px;
    padding-top: 2px;
}
.question .section-title .second .line::before {
    left: -50px;
    top: 8px;
}
.question .section-title .second .line::after  {
    right:-51px;
    top: 8px;
} 

.question .bigbox {
    margin-left: 4px;
    padding-top: 4px;
}
.question .bigbox .qabox .atext {
    margin-bottom: 25px;
}
.question .bigbox .qabox .qtext,
.question .bigbox .qabox .atext
{
    margin-left: 140px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    color: #000000;
}
.question .bigbox .qabox .qtext::before,
.question .bigbox .qabox .atext::before {
    content: "";
    position: absolute;
    left: -44px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
.question .bigbox .qabox .qtext::before {
    content: "Q";
    background-color: #00A8F0; 
}
.question .bigbox .qabox .atext::before {
    content: "A";
    background-color: #FDD35C; 
}
.question .bigbox .qabox .atext.link {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 10px;
} 
.question .bigbox .qabox .atext.link a {
    color: #000000;
    font-weight: 500;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.question .bigbox .qabox .atext.link span {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}
.question .bigbox .qabox:nth-of-type(3) .qtext {
    padding-top: 2px;
}
.questioncontainer{
    position: relative;
}
.questioncontainer .backimg1 {
    position: absolute;
    top: 360px;
    left: 0px;
}
.questioncontainer .backimg2 {
    position: absolute;
    top: 255px;
    right: 20px;
}
.questioncontainer .backimg3 {
    position: absolute;
    top: 70px;
    right: 100px;
}
.question .bigbox .qabox .atext.link .under {
    text-decoration: underline;
}
.question .bigbox .qabox .atext.link .under:hover {
    opacity: 0.7;
}
@media screen and (max-width: 930px) {
    .backimg1,
    .backimg2,
    .backimg3 {
        display: none;
    }
}
@media screen and (max-width: 787px) {
    .question .bigbox .qabox .atext {
        margin-top: -6px;
        margin-bottom: 13px;    
    }
    .question {
        padding-top: 26px;
    }
    .question .section-title {
        margin-bottom: 25px;
    }
    .question .section-title .second {
        margin-top: -3px;  
        margin-left: -3px;
    }    
    .question .bigbox .qabox .qtext,
    .question .bigbox .qabox .atext {
        margin-left: 71px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding-bottom: 20px;
        color: #000000;
    }
    .question .bigbox .qabox .qtext::before,
    .question .bigbox .qabox .atext::before {
        content: "";
        position: absolute;
        left: -34px;
        top: 0px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
    }
    .question .bigbox .qabox .qtext::before {
        content: "Q";
        background-color: #00A8F0; 
    }
    .question .bigbox .qabox .atext::before {
        content: "A";
        background-color: #FDD35C; 
    }
    .question .bigbox .qabox .atext.link {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding-top: 0px;
        margin-top: 0px;
    } 
    .question .bigbox .qabox .atext.link  a {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
    }
    .question .bigbox .qabox .atext.link span {
        color: #000000;
        font-weight: 500;
        font-size: 16px;
    }
    .question .bigbox .qabox:nth-of-type(3) .qtext {
        padding-top: 2px;
    }
    .question {
        padding-bottom: 88px;
    }
}
@media screen and (max-width: 767px) {
    .question .section-title .second .line {
        position: relative;
    }
    .question .section-title .second .line::before {
        margin-left: -4px;
        margin-top: -3px;
    }
    .question .section-title .second .line::after  {
        margin-right: 3px;
        margin-top: -3px;
    } 
}

/*---question---*/

/*
footer
*/

.footer {
    height: 279px;
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.footer .top {
    margin-top: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .top .footerbutton {
    width: 305px;
    height: 54px;
    border: 2px #ffffff solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.footer .top .footerbutton span {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 37px;
    padding-right: 5px;
}
.footer .middle {
    width: 100%;
    margin-top: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .middle .footerline {
    width: 83%;
    height: 1px;
    background-color: #FFFFFF99;
    overflow: hidden;
}
.footer .bottom {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -35px;
}
.footer .logoleft {
    margin-top: 14px;
    margin-right: 12px;
}
.footer .logomiddle {
    margin-top: -5px;
    margin-right: 40px;

}
.footer .logoright {
    margin-bottom: -17px;
    margin-right: 38px;
}
.footer .logoright span, 
.footer .logoleft span {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
} 
@media screen and (max-width: 530px) {
    .footer {
        height: 158px;
    }
    .footer .top {
        margin-top: 27px;
    }
    .footer .top .footerbutton {
        width: 250px;
        height: 37px;
        border: 1px #ffffff solid;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333333;
    }
    .footer .top .footerbutton span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 33px;
        padding-right: 5px;
    }
    .footer .middle {
        margin-top: 23px;
    }
    .footer .middle .footerline {
        width: 296px;
        height: 1px;
        background-color: #FFFFFF99;
        overflow: hidden;
    }
    .footer .bottom {
        margin-top: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -35px;
    }
    .footer .logoleft {
        margin-top: 4px;
        margin-right: 8px;
        margin-left: 13px;
    }
    .footer .logomiddle {
        margin-top: 0px;
        margin-right: 20px;
    }
    .footer .logomiddle img {
        width: 112px;
    }
    .footer .logoright {
        margin-bottom: -5px;
        margin-right: 50px;
    }
    .footer .logoright span, 
    .footer .logoleft span {
        font-size: 9px;
        font-weight: 500;
        color: #fff;
    }
}
@media screen and (max-width: 865px) {
    .mainpage .spbox {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
    body {
        padding-bottom: 80px; 
    }
}
.schedule .readmore-button {
    display: none;
}
@media screen and (max-width: 787px) {
    .schedule .readmore-button {
        display: block;
        color: #ffffff;
        border: 1px solid #ffffff;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        font-style: italic;
        width: 115px;
        height: 26px;
        margin: 0 auto;
    } 
    .schedule .readmore-button:hover {
        opacity: 0.7;
    }
    .schedule .menu > li:nth-child(n+4) {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition:
        max-height 0.6s ease,
        opacity 0.4s ease,
        transform 0.4s ease;
        padding-top: 0;
        margin-bottom: 0;
    }
    .schedule .menu > li.open {
        max-height: 400px;  
        opacity: 1;
        padding-top: 30px; 
        margin-bottom: 10px;
        transform: translateY(0);
        overflow: visible;
        }
    .schedule .menu li:nth-child(3) {
        background: linear-gradient(
            to bottom,
            #F1FBFF99 0%,
            #F1FBFF99 78%,
            rgba(0,0,0,0.05) 88%,
            rgba(0,0,0,0.12) 94%,
            rgba(0,0,0,0.18) 100%
        );
    }
    .schedule .menu li:nth-child(3).open {
        background: #F1FBFF99;
    }
}