@charset "UTF-8";
/*
header
*/
.header {
    width: 100%;
    position: absolute;
    padding-top: 60px;
    z-index: 100;
    padding-left: 15px;
    padding-right: 15px;
    height: 178px;
    background-color: #383838;
}
.header .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.header .logo {
    line-height: 0;
    z-index: 200;
    flex-shrink: 0;
}
.header .logo a {
    display: block;
}
.header .logo img {
    max-width: 150px; 
    width: calc((100vw - 844px) * (150 - 120) / (1440 - 844) + 120px);
}
.header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header .menu .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .menu .item li {
    text-wrap: nowrap;
    padding-left: clamp(
        15px,
        calc((100vw - 844px) * (55 - 15) / (1440 - 844) + 15px),
        55px
    );
}
.header .menu .item a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.header .menu .item a:hover {
    opacity: 1;
    text-decoration: underline;
}
.header .menu .reserve-btn{
    margin-left: clamp(
        15px,
        calc((100vw - 844px) * (75 - 15) / (1440 - 844) + 15px),
        75px
    );
    max-width: 140px;
    width: calc((100vw - 844px) * (140 - 80) / (1440 - 844) + 80px);;
    height: 40px;
    background-color: #B8A973;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.header .menu .reserve-btn.border-shadow {
    box-shadow: none;
    border: none;
}
@media screen and (max-width: 844px) {
    .header {
        margin-top: 0px;
        padding-top: 15px;
        padding-left: 0;
        padding-right: 0;
        height: 72px;
    }
    .header .inner-header {
        justify-content: space-between;
        padding-right: 0px;
        width: 89%; 
    }
    .header .logo img {
        width: 102px;
    }
    .header .menu .reserve-btn{
        margin-left: 0;
        margin-right: 24px;
        width: 80px;
        height: 26px;
        border: none;
        box-shadow: none;
    }
    .header .hamburger {
        width: 40px;
        height: 40px;
        display: block;
        z-index: 50;
        position: relative;
        cursor: pointer;
        z-index: 200;
    }
    .header .hamburger .line {
        width: 20px;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        z-index: 60;
        right: 10px;
        left: 12px;
        transition: all .3s ease;
    }
    .header .hamburger .line:nth-of-type(1) {
        top: 5px;
    }
    .header .hamburger .line:nth-of-type(2) {
        top: 13px;
    }
    .header .hamburger .line:nth-of-type(3) {
        top: 21px;
    }
    .header .hamburger .text {
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.3em;
        position: absolute;
        top: 25px;
        left: 2px;
        font-family: 'EB Garamond', serif;
    }
    .header .hamburger.active .line:nth-of-type(1) {
        transform: rotate(45deg);
        top: 16px;
    }
    .header .hamburger.active .line:nth-of-type(2) {
        display: none;
    }
    .header .hamburger.active .line:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 16px;
    }
    .header .inner-header .menu .item {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        display: flex;             
        flex-direction: column;
        padding-top: 72px;    
        background-color: #B8A973;
    }
    .header .inner-header .menu.active .item {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity .3s ease;
    }
    .header .inner-header .menu.active .item li {
        margin-top: 18px;
        margin-right: 18px;
        text-align: center;
    }
    .header .inner-header .menu.active .item li a {
        font-size: 16px;
    }
    .header .inner-header .menu.active .item li:first-child {
        margin-top: 35px;
    }
    .header .inner-header .menu.active .item li:last-child {
        margin-bottom: 55px;
    }
    .header .inner-header .menu.active .reserve-btn {
        display: none;
    }
}
/*
footer
*/
.footer-outbox {
    width: 100%;
    background-color: #FAF8F0;
    padding-bottom: 160px;
}
.footer {
    padding-top: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer img {
    margin-bottom: 68px;
}
.footer .img img {
    width: 230px;
    height: 90px;
}
.footer .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    width: calc(100% + 6px);
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 35px;
    flex-wrap: nowrap;
}
.footer .menu {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.footer .menu a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.footer .menu a:hover {
    opacity: 1;
    text-decoration: underline;
}
.footer .menu-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 70px;
}
.footer .menu-bottom {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.footer .menu-bottom a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
.footer .menu-bottom a:hover {
    opacity: 1;
    text-decoration: underline;
}
.footer .copyright {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3em;
}
@media screen and (max-width: 844px) {
    .footer-outbox {
        padding-bottom: 0px;
    }
    .footer {
        padding-top: 50px;
        height: 665px;
    }
    .footer img {
        margin-bottom: 30px;
    }
    .footer .img img {
        width: 179px;
        height: 70px;
    }
    .footer .menu {
        flex-direction: column;
        font-size: 16px;
        gap: 17px;
    }
    .footer .menu a {
        font-size: 16px;
    }
    .footer .menu-bottom {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }
}